.Logo {
    width: 5ch;

    font-family: var(--brand-font-family);
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 700;
    text-shadow: 2px 2px 2px var(--brand-color-l-low);
    line-height: 1;

    color: white;
    background-color: var(--brand-color-l-lowest);
    aspect-ratio: 1;

    display: grid;
    place-items: center;
    text-align: center;
    border-radius: 50%;
}
