.MenuList {
    --MenuList-font-size: 1em;
    --MenuList-left-offset: 2px;
    --MenuList-color: var(--brand-color-l-lowest);
    --MenuList-color--selection: var(--brand-color-l-highest);
    --MenuList-background-color--selection: var(--brand-color-l-lowest);
    --MenuList-background-color--hover: var(--brand-color-l-high);
    --MenuList-background-color--added: var(--brand-color-l-low);
    --MenuList-color--added: var(--brand-color-l-highest);
}

.MenuList,
.MenuList > li,
.MenuListItem {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    color: var(--MenuList-color);
}

.MenuList.--apply-offset > li {
    padding-left: calc(var(--MenuList-left-offset) * 1px);
}

.MenuList:not(.--read-only) > li > .MenuListItem {
    cursor: pointer;
    transition: background-color .25s ease;
}

.MenuListItem__title {
    position: relative;
    width: 100%;
    font-size: calc(var(--MenuList-font-size) * .95);
    padding-left: .2em;
}

.MenuListItem__description {
    font-size: calc(var(--MenuList-font-size) * .75);
    padding-left: calc(var(--MenuList-left-offset) * 1px);
    width: 25ch;
}

.MenuListItem__title,
.MenuListItem__description {
    color: var(--MenuList-color);
}

.MenuListItem__title::selection,
.MenuListItem__description::selection {
    background-color: var(--MenuList-background-color--selection);
    color: var(--MenuList-color--selection);
}

/* .MenuList:not(.--read-only) > li:hover > label.MenuListItem:not(.--added) { */
.MenuList:not(.--read-only) > li:hover > .MenuListItem:not(.--added) {
    background-color: var(--MenuList-background-color--hover);
}

label.MenuListItem.--added {
    background-color: var(--MenuList-background-color--added);
}

label.MenuListItem.--added > .MenuListItem__title,
label.MenuListItem.--added > .MenuListItem__description {
    color: var(--MenuList-color--added);
}

label.MenuListItem > input {
    display: none;
}

span.MenuListItem > .MenuListItem__title > .MenuListItem__check {
    position: absolute;
    right: calc(100% + 2.5px);
    top: 50%;
    transform: translate(0, -50%);

    height: 50%;
    aspect-ratio: 1;

    fill: var(--MenuList-background-color--added);

    opacity: 1;
}
