.MenuList {
    --MenuList-left-offset: 2px;
}

.MenuList,
.MenuList > li,
.MenuListItem {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    font-size: 1em;
    color: var(--brand-color-l-lowest);
}

.MenuList.--apply-offset > li {
    margin-left: calc(var(--MenuList-left-offset) * 1px);
}

.MenuListItem {
    cursor: pointer;
    transition: background-color .25s ease;
}

.MenuListItem > .MenuListItem__title {
    width: 100%;
    font-size: 1em;
    padding-left: .2em;
}

.MenuListItem__description {
    font-size: .7em;
    margin-left: calc(var(--MenuList-left-offset) * 1px);

    width: 25ch;
}

.MenuListItem__title > span {
    margin-left: 10px;
    display: none;
}

.MenuListItem__title::selection,
.MenuListItem__title > span::selection,
.MenuListItem__description::selection {
    background-color: var(--brand-color-l-lowest);
    color: var(--brand-color-l-highest);
}

.MenuList > li:hover > .MenuListItem:not(.--added) {
    background-color: var(--brand-color-l-high);
}

.MenuList > li:hover > .MenuListItem > .MenuListItem__title > span {
    display: initial;
}

label.MenuListItem.--added {
    background-color: var(--brand-color-l-low);
    color: var(--brand-color-l-highest);
}

label.MenuListItem > input {
    display: none;
}

span.MenuListItem { 
    position: relative;
}

span.MenuListItem > .MenuListItem__check {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 60%;
    aspect-ratio: 1;

    fill: var(--brand-color-l-low);
}
