.App {
    min-height: 100vh;
    width: 100%;
    outline: 2px solid var(--brand-color-l-lowest);
    outline-offset: -5px;
}

.App {
    position: relative;

    display: grid;
    place-items: center;
}

.App__Logo {
    position: absolute;
    top: 2.5vw;
    left: 2.5vw;
}

.App > section {
    color: var(--brand-color-l-lowest);
    font-size: clamp(1.4rem, 4vw, 2.2rem);
}

.App > section > h2 {
    font-family: var(--brand-font-family);
    letter-spacing: 2px;
}

.App > section > h6 {
    font-family: var(--systen-font-family);
    letter-spacing: 6px;
}
